<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cloudgyb.ai.knowledge.server.modules.ai.mapper.AiModelConfigMapper">

    <resultMap id="BaseResultMap" type="com.github.cloudgyb.ai.knowledge.server.modules.ai.domain.AiModelConfig">
            <id property="id" column="id" />
            <result property="modelId" column="model_id" />
            <result property="temperature" column="temperature" />
            <result property="lexical" column="lexical" />
            <result property="talk" column="talk" />
            <result property="repeat" column="repeat" />
            <result property="tokens" column="tokens" />
            <result property="timeout" column="timeout" />
            <result property="createTime" column="create_time" />
            <result property="updateTime" column="update_time" />
    </resultMap>

    <sql id="Base_Column_List">
        id,model_id,temperature,lexical,talk,repeat,
        tokens,timeout,create_time,update_time
    </sql>
</mapper>
