server:
  port: 8090
spring:
  application:
    name: knowledge-base-geteway
  cloud:
    nacos:
      discovery:
        enabled: true
        server-addr: 127.0.0.1:8848
        namespace: public
        register-enabled: false
