server:
  port: 8090
spring:
  application:
    name: knowledge-base-geteway
  cloud:
    nacos:
      discovery:
        enabled: true
        server-addr: 127.0.0.1:8848
        namespace: public
        register-enabled: true # 是否注册为服务
        username: nacos
        password: nacos
    gateway:
      server:
        webflux:
          routes:
            - id: knowledge-base-service
              uri: lb://knowledge-base-server
              predicates:
                - Path=/api/**
              filters:
                - name: StripPrefix
                  args: {
                    parts: 1
                  }
                - name: SetResponseHeader
                  args: {
                    name: "X-Request-Start",
                    value: "hello"
                  }
                - name: CircuitBreaker
                  args: {
                    name: "knowledge-base-service",
                    fallbackUri: "forward:/fallback",
                    statusCodes: "404,500,503"
                  }
    openfeign:
      okhttp:
        enabled: true
  jackson:
    date-format: yyyy-MM-dd HH:mm:ss
    time-zone: GMT+8


resilience4j:
  circuitbreaker:
    instances:
      knowledge-base-service:
        wait-duration-in-open-state:
          seconds: 20
        failureRateThreshold: 50
        slowCallDurationThreshold: 5s
        slowCallRateThreshold: 50
        sliding-window-type: COUNT_BASED
        sliding-window-size: 100
        permitted-number-of-calls-in-half-open-state: 5

management:
  endpoints:
    web:
      exposure:
        include: '*'