<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cloudgyb.ai.knowledge.server.modules.chat.mapper.ChatMessageThinkingMapper">

    <resultMap id="BaseResultMap"
               type="com.github.cloudgyb.ai.knowledge.server.modules.chat.domain.ChatMessageAiThinking">
        <id property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="muId" column="mu_id"/>
        <result property="sender" column="sender"/>
        <result property="content" column="content"/>
        <result property="contentType" column="content_type"/>
        <result property="sendAt" column="send_at"/>
        <result property="metadata" column="metadata"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,cid,mu_id,sender,content,content_type,send_at,
        metadata
    </sql>
    <update id="append">
        update chat_message_thinking
        set content = concat(content, #{message})
        where id = #{id}
    </update>
</mapper>
