<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.github.cloudgyb.ai.knowledge.server.modules.chat.mapper.ChatMessageUserMapper">

    <resultMap id="BaseResultMap" type="com.github.cloudgyb.ai.knowledge.server.modules.chat.domain.ChatMessageUser">
        <id property="id" column="id"/>
        <result property="cid" column="cid"/>
        <result property="sender" column="sender"/>
        <result property="content" column="content"/>
        <result property="contentType" column="content_type"/>
        <result property="sendAt" column="send_at"/>
        <result property="metadata" column="metadata"
                typeHandler="com.baomidou.mybatisplus.extension.handlers.JacksonTypeHandler"/>
    </resultMap>

    <sql id="Base_Column_List">
        id
        ,cid,sender,content,content_type,send_at,
        metadata
    </sql>
</mapper>
